/.idea
/simple-typerdd.iml
target/
/.project
/.classpath
*.cache-*
/data/
/src/main/resources/log4j.properties
/.settings/
/spark.log
*~
src/test/resources/log4j.properties
project/target
project/project
bin
loader/bin
provider/bin
*.class
/.bloop
/.metals
/.vscode
*/.bloop/
metals.sbt
spark_info_file
.DS_STORE